# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Logs
logs/
*.log
logs/*.log

# TypeScript
*.tsbuildinfo

# Webpack
dist/

# Jest
coverage/
.jest/

# TypeScript cache
*.tsbuildinfo

# Ignore the build output
/build
/dist

# Ignore dotenv environment variable files
.env

# Ignore Mac system files
.DS_Store

# Ignore Visual Studio Code settings
.vscode/
